parameters:
    level: 0
    paths:
        - src/laravel/
    excludePaths:
        - vendor
        - bin
        - src/laravel/Eloquent/vendor
        - src/laravel/API/vendor
        - '*.blade.php'
    inferPrivatePropertyTypeFromConstructor: true
